table {
  width: 100%;
  max-width: 1024px;
  min-width: 30rem;
  table-layout: auto;
  font-size: 14px;
}

td {
  @apply bg-transparent px-0 text-center text-[10px] capitalize xs:text-xs sm:text-start sm:text-sm md:p-1 lg:text-base;
}
tr {
  @apply mx-auto border-b border-neutral-700 bg-neutral-950 odd:bg-neutral-900 hover:bg-black;
}

th {
  @apply min-w-6 cursor-pointer select-none px-0.5 py-1 text-center text-xs font-medium xs:text-sm sm:min-w-max md:p-1 md:text-start lg:text-base;
}
