table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1024px;
  table-layout: auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #121212;
}

tr:hover {
  background-color: #323232;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #454545;
  color: white;
}
