@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./utils/animations.global.css');

@layer base {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(35 32 35) inset !important;
    -webkit-text-fill-color: rgb(180 179 170);
  }
}

@layer components {
  .auth-container {
    @apply mx-4 flex w-full flex-col gap-4 rounded-xl bg-neutral-950 px-6 py-8 shadow shadow-neutral-500 xs:w-3/4 sm:mx-0 sm:w-1/2 md:w-[28rem] md:p-8;
  }
  .auth-input {
    @apply h-10 w-full rounded-sm bg-neutral-900 px-2 py-1 text-neutral-200 shadow-sm shadow-yellow-500 placeholder:text-neutral-500;
  }
  .filter-neutral-400 {
    filter: brightness(0) saturate(100%) invert(70%) sepia(19%) saturate(0%)
      hue-rotate(236deg) brightness(92%) contrast(84%);
  }
  .filter-neutral-200 {
    filter: brightness(0) saturate(100%) invert(89%) sepia(93%) saturate(4046%)
      hue-rotate(184deg) brightness(124%) contrast(80%);
  }
  .filter-neutral-50 {
    filter: brightness(0) saturate(100%) invert(89%) sepia(93%) saturate(4046%)
      hue-rotate(184deg) brightness(124%) contrast(80%);
  }
  .filter-neutral-950 {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(1197%)
      hue-rotate(218deg) brightness(95%) contrast(92%);
  }
  .filter-primary {
    filter: brightness(0) saturate(100%) invert(99%) sepia(68%) saturate(3464%)
      hue-rotate(348deg) brightness(98%) contrast(109%);
  }
  .text-shadow {
    text-shadow: #000 1px 0 1px;
  }
  .promotion-text {
    @apply text-sm xs:text-base md:text-lg lg:text-lg xl:text-xl 2xl:text-xl;
  }
  .promotion-header{
    @apply text-lg xs:text-xl md:text-2xl xl:text-3xl 2xl:text-4xl
  }
}
