.fade-in {
  animation: fadeIn ease-in 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-fast {
  animation: fadeIn ease-in 0.25s;
}

.transition-left {
  animation: transitionLeft ease-out 0.75s;
}
@keyframes transitionLeft {
  0% {
    translate: -100%;
    opacity: 50%;
  }
  100% {
    translate: 0px;
    opacity: 100%;
  }
}

.transition-right {
  animation: transitionRight ease-out 0.75s;
}
@keyframes transitionRight {
  0% {
    translate: 100%;
    opacity: 25%;
  }
  100% {
    translate: 0px;
    opacity: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-float-ball {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  left: -15vw;
  top: -15vw;
}

@media (min-width: 640px) {
  .animate-float-ball {
    width: 40vw;
    height: 40vw;
    left: -20vw;
    top: -20vw;
  }
}

@media (min-width: 1024px) {
  .animate-float-ball {
    width: 30vw;
    height: 30vw;
    left: -15vw;
    top: -15vw;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-slow {
  animation: marquee 30s linear infinite;
}

.animate-marquee-normal {
  animation: marquee 20s linear infinite;
}

.animate-marquee-fast {
  animation: marquee 10s linear infinite;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes glow {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1);
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 300s ease infinite;
}

.animate-glow {
  animation: glow 200s ease-in-out infinite;
}
